.container {
    width: 960px;
}

header {
    height: 280px;
    background-image: url(/images_css/bg.png);

    /* 어울리도록배치 */
    position: relative;
}

header h1 {
    font-size: 3em;
    color: #ffc;
    right: 20px;
    bottom: 70px;
    
    /* 절대 위치 브라우저 기준 */
    position: absolute;
}

header h2 {
    font-size: 2em;
    color: #ff0;
    right: 20px;
    bottom: 30px;

    /* 절대 위치 브라우저 기준 */
    position: absolute;
}

.navi {
    width: 960px;
    background-color: #271717;
    height: 150px;
    margin-top: -15px;
}

.navi ul {
    list-style-type: none;
}
.navi a {
    color: #fff;

    /* 링크 밑줄 제거 */
    text-decoration: none;
    padding: 10px 5px 5px 35px;
    display: block;
}

.navi a:hover {
    color: #fc0;
}